
server {
       listen         80;
       server_name    {{ site_domain }};
       return         301 https://$server_name$request_uri;
}

server {
        listen 443 ssl;

        {% if snakeoil %}ssl_certificate /etc/ssl/certs/ssl-cert-snakeoil.pem;
        ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;{% else %}   ssl_certificate /etc/ssl/certs/{{ site_domain }}_chain.pem;
        ssl_certificate_key /etc/ssl/private/{{ site_domain }};{% endif %}

        # LOG FORMAT W RESPONSE TIME
        #  see <https://lincolnloop.com/blog/tracking-application-response-time-nginx/>
        log_format timed_combined '$remote_addr - $remote_user [$time_local] '
            '"$request" $status $body_bytes_sent '
            '"$http_referer" "$http_user_agent" '
            '$request_time $upstream_response_time $pipe';

        access_log {{ site_web_root }}/logs/access.log timed_combined;
        error_log {{ site_web_root }}/logs/error.log;

        server_name {{ site_domain }};

        # allow for 2M upload
        client_max_body_size 2M;

        location /static/ {
            alias {{ site_web_root }}/static/;
        }

        location /media/ {
            alias {{ site_web_root }}/media/;
        }

        location / {
            uwsgi_pass unix:/tmp/uwsgi_{{ site_name }}.sock;
            include /etc/nginx/uwsgi_params;

            # add missing header as proxy_pass
            #add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
        }
}

