{% extends "base.html" %}
{% load static %}
{% load oh_tags %}
{% load licensing_tags %}

{% block content %}
{% likes_for_user user as likes %}
{% comment %}
    Here we show the list of the OSHW element present in the database
{% endcomment %}
<div class="col-md-12 m-a-md">
    <p class="pull-left h3">Wellcome to a reliable source for Open Hardware devices.</p>
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal_add">Add</button>
    <div class="modal fade" id="modal_add">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <p>If you want to add a device in this repository you can send a mail to <pre>info@ohr.lol.</pre></p>
              <p>Probably in future will be a possibility to make other insert devices if there is need.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
{% for item in object_list %}
<div class="col-md-4 oh-list">
    <div class="card">
          <p>
              <a href="#" {% if user.is_authenticated %}class="like-action"{% endif %} data-id="{{ item.pk }}" data-action="{%if item in likes %}un{% endif%}set">
                  <i class="likes fa fa-lg fa-star{% if item not in likes %}-o{% endif %}"></i>
                  {% comment %} TODO: the code below makes a query for each item, try to customize main query to include count in it{% endcomment %}
                  <i class="n_likes">{{ item.openhardwarelike_set.count }}</i>
              </a>
          </p>
      <img class="card-img-top" src="{{ item.image.url }}" style="width:100%" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title"><a href="{{ item.url }}">{{ item.name }}</a></h4>
        <p class="card-text">{{ item.short_description }}</p>
          <p>
          <ul class="list-group">
          {% for attachment in item.openhardwareattachment_set.all %}
          <li class="list-group-item">{{ attachment.type }}: {{ attachment.description|lower }}
              <span class="pull-right">{% show_license attachment.license %}
                  <a href="{{ attachment.file.url }}"><i class="fa fa-download"></i></a>
              </span>
          </li>
          {% empty %}
          <p>NO ATTACHMENTS</p>
          {% endfor %}
          </ul>
          </p>
          <p>{% for tag in item.tags.all %}<span class="label label-pill label-default">{{ tag.name }}</span> {% endfor %}</p>
      </div>
</div>
</div>
{% empty %}
It's not possible, NO Open Hardware!!!
{% endfor %}
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
function showError(msg) {
    console.log('ERRORE: ' + msg);
}

/*
 * TODO: create generic function for AJAX calls.
 */
function call_like(url, data, obj, on_success, on_error) {
            var removeSpinner = function () {
                icon.removeClass('fa-spinner');
                icon.removeClass('fa-spin');
            }

            var icon = obj.find('i');
            icon.removeClass('fa-star');
            icon.removeClass('fa-star-o');

            icon.addClass('fa-spinner');
            icon.addClass('fa-spin');

            $.ajax(url, {
                data: JSON.stringify(data),
                type: 'POST',
                contentType: 'application/json',
                success: function(data) {
                    console.log('success');

                    removeSpinner();

                    on_success(data);
                },
                error: function(jqXHR, textStatus, errorThrown ) {
                    console.log('status: ' + textStatus + ' error: ' + errorThrown);
                    removeSpinner();

                    icon.addClass('fa-exclamation-triangle')

                    // first of all exclude know errors
                    if (textStatus == 'error' && errorThrown == 'FORBIDDEN') {
                        showError('You need to be logged');
                        return;
                    }

                    var errorMessage = '';
                    try {
                        // with a 500 this is not parseable
                        var response = JSON.parse(jqXHR.responseText);
                        var errorMessage = errorThrown;

                        if (response.status == 'ko') {
                            errorMessage = response.message;
                        }
                    } catch (e) {
                        errorMessage = 'Server error';
                    }
                    showError(errorMessage);

                    on_error();
                }
            });
}

function _on_success(data) { {% block js_on_success %}{% endblock %} }
function _on_error() { {% block js_on_error %}{% endblock %} }

/*
 * TODO: create minimal app to add ajax functionality
 *       to a django project, like http://yceruto.github.io/django-ajax/
 */
$('.like-action').on('click', null, function(e) {
    e.preventDefault();
    var that = $(this);
    var $id = $(this).attr('data-id');
    var action = $(this).attr('data-action');

    var __on_success = function(data) {
        var table = {};

        var i = that.find('i.likes');

        console.log('that: ' + that);

        if (data['action'] == 'unset') {
            table['add'] = 'fa-star-o';
            table['remove'] = 'fa-star';
        } else if (data['action'] == 'set') {
            table['add'] = 'fa-star';
            table['remove'] = 'fa-star-o';
        } else {
            throw new Exception('action not allowed!!!');
        }

        if (i.hasClass(table['remove'])) {
            i.removeClass(table['remove']);
        }

        if (!i.hasClass(table['add'])) {
            i.addClass(table['add']);
        }

        // use .attr() to change data-* attributes
        that.attr('data-action', data['action'] == 'set' ? 'unset' : 'set');

        var i_count = that.find('i.n_likes');

        var count = parseInt(i_count.text());
        i_count.text(data['action'] == 'set' ? count + 1 : count - 1);
    };

    call_like('{% url 'oh:like_set' %}', {id: $id, action: action}, $(this), __on_success, _on_error);
});
</script>
{% endblock javascript %}